# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
fonts/Fira Sans Extra Condensed.ttf
pdf/logo-black.pdf
pdf/logo-color.pdf
pdf/logo-no-background.pdf
pdf/logo-white.pdf
png/logo-black.png
png/logo-color.png
png/logo-no-background.png
png/logo-white.png
svg/logo-black.svg
svg/logo-color.svg
svg/logo-no-background.svg
svg/logo-white.svg
